.translator-engine {
  margin-top: 20px;
  color: #727272;
}

.translator-wrapper {
  border: 1px solid #cacaca50;
  border-radius: 2px;
  min-height: 35px;
  display: flex;
  margin-top: 10px;
  margin-right: 20px;
}

.translator-wrapper:hover {
  outline: solid 1px #5d8fdc;
}

.translator-source {
  max-width: 100%;
  width: 100%;

  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.translator-input {
  max-width: 100%;
  width: 100%;
  border: none;
  border-left: 1px solid #cacaca50;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
  outline: none;
}

.translator-input:hover {
  outline-color: #5d8fdc;
}

.active {
  border: 1px solid #5d8fdc;
}
